# Nextflow
work/
.nextflow/
.nextflow.log*
timeline.html
report.html
trace.txt
.nf-test/

# Results / large files
results/
*.fastq
*.fastq.gz
*.fq.gz
*.bam
*.cram
*.sra
*.sam
*.bai
*.crai
*.vcf.gz
*.tbi
*.fa.fai
*.gzi
