nextflow.enable.dsl=2

params.samplesheet = "assets/sample.csv"
params.outdir      = "results"
params.paired_end  = true

params.transcriptome_fasta = null
params.salmon_index        = null
params.fastp_extra = "--length_required 5 --qualified_quality_phred 10 --unqualified_percent_limit 60 --n_base_limit 10"

params {
  reads_dir = "data/reads"     // where fetched FASTQs are copied
  ena_runs  = null             // comma-separated run IDs
}

process {
  withName: FETCH_ENA_FASTQ {
    container = null
  }
}

process {
  withName:FASTQC     { cpus = 2; memory = '2 GB' }
  withName:FASTP      { cpus = 4; memory = '4 GB' }
  withName:SALMON_QUANT { cpus = 4; memory = '8 GB' }
  withName:MULTIQC    { cpus = 2; memory = '2 GB' }
}

profiles {
  docker {
    docker.enabled = true
    // Make container pulls quieter
    docker.runOptions = '-u 501:20'
  }
}
